<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Estilos -->
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/game.css">
    
    <title>Game</title>
</head>
<body>
    <section class="timeLine"></section>
    <figure id="photographer"><img src="/img/photographer.png" alt="fotografo"></figure>
    <article class="timer">
        <section class="timeText">Tiempo restante</section>
        <section class="timeCount">15</section>
    </article>
    <form method="GET" action="/register">
        <% list.forEach(promise => { %>
            <% if(promise.color_id == 1) { %>
            <section class="yellow">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% } else if(promise.color_id == 2) { %>
            <section class="blue">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% }  if(promise.color_id == 3) { %>
            <section class="red">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% } else if(promise.color_id == 4) { %>
            <section class="darkBlue">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% } %>
        <% }) %>
        <button type="submit" name="endGame" id="endGame" class="endGame hide">Guardar respuestas</button>
    </form>
    <script src="/js/game.js"></script>
</body>
</html>