<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/game.css">
    
    <title>Game</title>
</head>
<body>
    <article class="timer">
        <section class="timeLine"></section>
        <section class="cuentaNumero">
            <p class="timeText">Tiempo restante:</p>
            <p class="timeCount">180</p>
        </section>
    </article>
    <figure id="photographer">
        <img src="/img/photographer.png" alt="fotografo">
    </figure>
    <form method="GET" action="/register">
        <% list.forEach(promise => { %>
            <% if(promise.color_id == 1) { %>
            <section class="blue">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% } else if(promise.color_id == 2) { %>
            <section class="yellow">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% }  if(promise.color_id == 3) { %>
            <section class="darkBlue">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% } else if(promise.color_id == 4) { %>
            <section class="red">
                <input type="checkbox" name="promesa" id="promesa">
                <label><%= promise.cita %></label>
            </section>
            <% } %>
        <% }) %>
        <section class="endGame hide">
            <button type="submit" name="fin" id="fin" class="fin">Guardar respuestas</button>
        </section>
    </form>
    <script src="/js/game.js"></script>
</body>
</html>